/********************************/
/***********DEALS/NEW ARRIVALS SECTION**************/
/********************************/

.products-container {
  font-size: 3.2rem;
  font-weight: 500;
  max-width: 150rem;
  margin: 2.4rem auto;
  margin-top: 4.8rem;
}

.product-cards {
  display: flex;
  gap: 2rem;
}

.product-heading {
  margin-bottom: 4.8rem;
}
