/********************************/
/***********FOOTER**************/
/********************************/

.footer-container {
  display: flex; /* set the outer container to use flexbox /
  justify-content: center; / horizontally center the inner container /
  align-items: center; / vertically center the inner container */
  height: 40rem;
  background-color: black;
  margin-top: 10rem;
  /* width: 100%; */
}
.footer-box {
  display: flex;
  justify-content: space-evenly;
  gap: 15rem;

  margin: auto;
}
.footer-container div {
  text-transform: uppercase;
  font-size: 1.4rem;
  color: white;
}
.footer-container .list-heading {
  margin-bottom: 2.8rem;
}
.footer-container .list-item {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
}
.footer-container .list-item a {
  text-transform: none;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}
