/********************************/
/***********HERO**************/
/********************************/
/* .hero-section {
  max-width: 150rem;
  margin: 2.4rem auto;
  display: flex;
  margin-top: 14rem;
  width: 90%;
}
.hero-section .hero-section-content {
  align-items: center;
  justify-content: center;
}
.hero-section .hero-section-content div {
  margin-top: 11rem;
  text-align: center;
  font-weight: 500;
}
.hero-section .hero-section-content button {
  border: none;
  padding: 2rem 4.8rem;
  font-size: 2.4rem;
  background-color: #fa5252;
  border-radius: 10rem;
  width: 20rem;
  font-weight: 500;
  margin-left: 21.8rem;
  margin-top: 4.4rem;
} */

.hero-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem;
}

.hero-section img {
  max-width: 50%;
  /* height: auto; */
}

.hero-section-content {
  max-width: 50%;
}

.offer-text-container {
  margin-top: 6.4rem;
  text-align: center;
}

.offer-text-container div {
  font-size: 4.8rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
}

.offer-text-container button {
  display: block;
  margin: 0 auto;
  padding: 1.6rem 4.8rem;
  font-size: 2.4rem;
  background-color: #fa5252;
  border: none;
  border-radius: 10rem;
  font-weight: 500;
  transition: background-color 0.3s ease-in-out;
}

offer-text-container button:hover {
  background-color: #e03131;
}
