/********************************/
/***********PRODUCT INFO*********/
/********************************/

.productinfo-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 180rem;
  margin: 2.4rem auto;
}

.productinfo-image-container {
  height: 50rem;
  width: 35rem;
  border-radius: 10%;
}

.productinfo-image-container img {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  object-fit: contain;
  /* height: var(--image-height); */
  height: 100%;
  padding: 12%;
}

.product-name {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 2.4rem;
  font-weight: 600;
}

.product-price {
  font-size: 2.4rem;
  font-weight: 500;
  margin-top: 2.4rem;
}
