.search-page-results {
  margin-top: 12rem;
  padding: 1.2rem 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 15rem;
}

.search-results-not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3.2rem auto;
  padding: 1.2rem 9.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  color: #000000;
  max-width: 150rem;
  height: 45rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

@media (max-width: 773px) {
  .search-page-results {
    grid-template-columns: 1fr;
  }
}
