/*   Css media query between 992px and 1321px*/

@media (min-width: 992px) and (max-width: 1321px) {
  .nav-list-items {
    gap: 5rem;
  }

  .offer-text {
    font-size: 3.6rem;
    padding: 1.6rem 6.2rem;
  }

  .offer-text-container button {
    font-size: 1.6rem;
  }

  :root {
    --font-size-navbar: 1.4rem;
    --svg-icon-size: 2rem;
  }
}
