/*   Css media query between 992px and 1321px*/

@media (min-width: 989px) and (max-width: 1321px) {
  .nav-list-items {
    gap: 5rem;
  }
  .logo {
    height: 2.4rem;
  }

  .offer-text {
    font-size: 3.6rem;
    padding: 1.6rem 3.2rem;
  }

  .offer-text-container button {
    font-size: 1.6rem;
  }

  :root {
    --font-size-navbar: 1.4rem;
    --svg-icon-size: 2rem;
    --image-height: 20rem;
  }
  .product-description {
    font-size: 1.4rem;
  }

  .nav-list-items {
    margin-left: 6rem;
  }

  .add-to-cart {
    border: solid 1px black;
    padding: 0.4rem 1.4rem;
    color: black;
    background-color: white;
    font-size: 1rem;
  }
  .add-to-cart:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }

  .footer-container div {
    font-size: 1.2rem;
  }
  .footer-container .list-item a {
    font-size: 1rem;
  }
}
