.mycart-container {
  display: flex;
  max-width: 120rem;
  margin: 0 auto;
  justify-content: center;
  gap: 15rem;
  margin-top: 10rem;
}

@media (max-width: 773px) {
  .mycart-container {
    flex-direction: column;
    gap: 5rem;
  }
}
